<extend name="index" />
<block name="menu">
<style type="text/css">
	#home{
		overflow:hidden !important;
	}
</style>
<br>
<h1 class="tt_h1">学生请假记录</h1>
<div id="cond">
	<form onsubmit="return false;">
		姓名：<input type="text" name="uname" id="uname" style="width:60px;">
		&nbsp;
		状态：<select name="status" id="status">
			<option value="10">全部</option>
			<option value="1">待提交</option>
			<option value="3">已提交</option>
			<option value="4">待批准</option>
			<option value="5" selected>已批准</option>
			<option value="7">已拒绝</option>
		</select>&nbsp;
		开始时间：<input class="sang_Calender" type="text" name="stime" value="{$Think.post.stime}" placeholder="请选择" id="stime" readonly style="width:130px;">&nbsp;
		结束时间：<input class="sang_Calender" type="text" name="etime" value="{$Think.post.etime}" placeholder="请选择" id="etime" readonly style="width:130px;">&nbsp;
		<input type="submit" id="submit" value="搜索" style="padding:1px;margin-left:10px;padding-top:0;padding-bottom:0;">
	</form>
</div>
<div style="height:480px;overflow:auto;">
	<table id="table" style="display:none;">
		<tr class="tb_tr_th">
			<th>ID</th>
			<th>姓名</th>
			<th>班级</th>
			<th>班主任</th>
			<th>开始时间</th>
			<th>结束时间</th>
			<th>状态</th>
		</tr>
	</table>
</div>
<script type="text/javascript" src="__PUBLIC__/js/datetime.js"></script>
<script type="text/javascript">
	window.getList = function(data={})
	{
		var url = 'index.php?m=Home&c=Hostel&a=leaveRecord';
		data.typ = 'json';
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			$("#table").show();
			var list = res.content;
			var field = Array();
			field[0] = 'id';
			field[1] = 'student_text';
			field[2] = 'class_text';
			field[3] = 'leader';
			field[4] = 'begin_date';
			field[5] = 'end_date';
			field[6] = 'status_text';
			listPage(list,1,30,field);
		}
		else
		{
			$("#table").hide();
			tips(res.content,2);
		}
	}

	$("#submit").click(function()
	{
		var uname = $("#uname").val();
		var stime = $("#stime").val();
		var etime = $("#etime").val();
		var status = $("#status").val();
		var cond = {uname:uname,stime:stime,etime:etime,status:status};
		getList(cond);
	})
	setTimeout("getList();",500);
</script>

</block>
