<extend name="index" />
<block name="menu">
<style type="text/css">
	.tip_box{
		width:100px;
		height:40px;
		float:left;
	}
	#box{
		width:1300px;
		border:1px solid #000;
		border-radius:5px;
		background:#eee;
		margin-left:30px;
		margin-top:20px;
		padding-left:15px;
	}
	.line{
		max-width: 1300px;
		/*background:#fff;*/
		text-align:left;
		margin-top:20px;
		margin-bottom:10px;
		padding:10px;
	}
	.demo_box{
		width:80px;
		height:60px;
		border:1px solid #aaa;
		border-radius:3px;
		display:inline-block;
		margin-left: 20px;
		cursor:pointer;
	}
	.left{
		background:#0f0;
		display:inline-block;
		color:#fff;
		width:40px;
		height:35px;
		line-height: 35px;
		text-align:center;
		font-size:15px;
	}
	.right{
		color:#fff;
		/*display:inline-block;*/
		position: absolute;
		width:40px;
		height:35px;
		text-align:center;
		background:red;
		font-size:30px;
		line-height: 35px;
	}
	h3{
		font-size:18px;
	}
	h4{
		width:79px;
		height:25px;
		border-bottom:1px solid black;
		line-height: 25px;
		text-align: center
	}
</style>
<br>
<h1 class="tt_h1">查看回舍信息</h1>
<div id="cond">
	<form id="form" method='post'>
		楼号：<select name="build" id=""  style='width:70px;padding-left:5px;'>
			<foreach item='hostel' key='k' name='hostel'>
				<option value="{$k}" <if condition="$k eq $bb">selected</if> >{$k}</option>
			</foreach>
		</select>
		<input type="submit" value="搜索" style="padding:1px;margin-left:10px;padding-top:0;padding-bottom:0;">
	</form>
</div>
<br>
	<h1><div style="float:left;color:red;margin-left:20px;">提示：</div><div class='tip_box'><span style="background:#0f0;display:inline-block;width:49px;height:30px;color:#fff;font-size:21px;">已回</span><span style="background:#f00;display:inline-block;width:49px;height:30px;color:#fff;font-size:21px;">未回</span></div>{$bb}</h1>
<div id="box" <if condition="$bb eq ''">style="display:none;"</if> >
	<foreach item="list" key="key" name="hostel_list">
		<div class="line">
			<h3>第{$key}层</h3>
			<foreach item="lists" name="list">
				<div class="demo_box" sign="{$lists.id}" signs="{$bb}">
					<h4>{$lists.no}</h4>
					<span class='left'>{$lists.in_num}</span>
					<span class='right'>{$lists.out_num}</span>
				</div>
			</foreach>
		</div>
	</foreach>
</div>

<script type="text/javascript">
	$(".demo_box").live("click",function()
	{
		var id = $(this).attr("sign");
		var build = $(this).attr("signs");
		window.location.href = "/cxg/index.php?m=Home&c=Hostel&a=index&id=2.50&shostel="+id+"&sbuild="+build;
	})
</script>
</block>
