<extend name="index" />
<block name="menu">
<style type="text/css">
	table{
		border-collapse:collapse;
		margin-left:30px;
		margin-top:10px;
	}
	#table{
		margin-left:40px;
	}
	.new_table{
		margin-top:20px;
	}
	input{
		margin-top:10px;
		width:100px;
	}
	.add_left{
		display: inline-block;
		width:25%;
		text-align: right;
	}
	.add_right{
		display: inline-block;
		width:auto;
	}
</style>
<br>
<h1 class="tt_h1">位置：班级设置>年组设置</h1>
<p style="display:inline-block;width:45%;padding-left:30px;">
	年组名称：<input type="text" id="sname">&nbsp;&nbsp;
	<button class="search"><i class="search-btn-img"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查找</button>
</p>
<p style="text-align:right;display:inline-block;width:50%;"><button class="add-btn"><i class="add-btn-img"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加年组信息</button></p>
<br>
<div id="con_div">
	<table id="table" class="new_table">
		<tr style="display:none;">
			<th>ID</th>
			<th>年组名称</th>
			<th>年组主任</th>
			<th>操作</th>
		</tr>
	</table>
</div>
<div id="shell" class="zshow">

</div>
<div  id="shell_img" class="zshow">
        <img src="__PUBLIC__/iconfont/loading.gif" width="35" height="35" />
        <p>加载中...</p>
</div>
<div id="add_form" style="position: absolute; left: 0px; top: 0px; right: 0px; z-index: 9999; text-align: center;display:none;">
	<form id="form" onsubmit="return false;" style="display:inline-block;width:400px;background:#fff;margin-top:150px;">
	<br>
		<p>添 加 年 组</p>
		<br>
		<input type="hidden" id="hid">
		<p>
			<p class="add_left">年组名称：</p><p class="add_right"><input type="text" name="name" id="name"></p>
		</p>
		
		<p>
			<p class="add_left">年级主任：</p><p class="add_right"><select name="director" id="director" style="margin-top:10px;width:104px;">
			
			</select>
			</p>
		</p>
		<br><br>
		
		<p><button class="confirm-btn">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="cancel-btn">取消</button><br><br></p>
		
	</form>
</div>

<script type="text/javascript">
	window.getList = function(data={})
	{
		var url = "index.php?m=Admin&c=Setting&a=getClassYearList";
		data.typ = 'json';
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			$("#table").find('tr').show();
			$(".zshow").hide();
			var field = Array();
			field[0] = 'id';
			field[1] = 'name';
			field[2] = 'director_name';
			var lists = res.content;
			if(res.leader == 1)
			{
				listPage(lists,1,15,field,true);
			}
			else
			{
				field[3] = 'act_text';
				$(".add-btn").hide();
				listPage(lists,1,15,field);
			}
			
		}
		else
		{
			tips(res.content,2);
			$(".zshow").hide();
			$(".new_table").find('tr').hide();
		}
	}

	$(".search").click(function()
	{
		var sname = $("#sname").val();
		var cond = {sname:sname};
		getList(cond);
	})

	$(".add-btn").click(function()
	{
		$("#shell").show();
		$("#add_form").show();
		var mlist = {$manageList};
		var str = '';
		for(var i in mlist)
		{
			str += '<option value="'+mlist[i].id+'">'+mlist[i].nick+'</option>';
		}
		$("#director").html(str);
	})

	$(".confirm-btn").click(function()
	{
		var id = $("#hid").val();
		var name = $("#name").val();
		if($.trim(name) == '')
		{
			tips('年组名称不能为空！',2);
			return;
		}
		var director = $("#director").val();
		if($.trim(director) == '')
		{
			tips('请在身份管理>人员管理进行添加');
			return;
		}
		if($.trim(id) == '')
		{
			var url = 'index.php?m=Admin&c=Setting&a=addClassYear';
			var data = {name:name,director:director,typ:'json'};
		}
		else
		{
			var url = 'index.php?m=Admin&c=Setting&a=editClassYear';
			var data = {id:id,name:name,director:director,typ:'json'};
		}
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			tips(res.content,1);
			setTimeout("window.location.reload();",500);
		}
		else
		{
			tips(res.content,2);
		}
	})

	$(".cancel-btn").click(function()
	{
		$("#shell").hide();
		$("#add_form").hide();
		$("#hid").val('');
		$("#name").val("");
	})

	$(".edit-btn").live("click",function()
	{
		var id = $(this).attr('sign');
		var url = "index.php?m=Admin&c=Setting&a=getClassYearById";
		var data = {id:id,typ:'json'};
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			$("#hid").val(id);
			$("#shell").show();
			$("#add_form").show();
			var info = res.content;
			var str = '';
			var mlist = {$manageList};
			$("#name").val(info.name);
			for(var i in mlist)
			{
				if(mlist[i].id == info.director_id)
				{
					str += "<option value='"+mlist[i].id+"' selected>"+mlist[i].nick+"</option>";
				}
				else
				{
					str += "<option value='"+mlist[i].id+"'>"+mlist[i].nick+"</option>";
				}
			}
			$("#director").html(str);
			
		}
		else
		{
			tips(res.content,2);
		}

	})

	$(".del-btn").live("click",function()
	{
		var msg = "您真的确定要删除吗？\n\n请确认！";
		if(confirm(msg)==true)
		{
			var _this = $(this);
			var id = $(this).attr("sign");
			var url = "index.php?m=Admin&c=Setting&a=delClassYear";
			var data = {id:id,typ:'json'};
			var res = ajax(url,data);
			if(res.status == 'success')
			{
				tips(res.content,1);
				_this.parents('tr').remove();
			}
			else
			{
				tips(res.content,2);
			}
		}
	})
	setTimeout("getList();",500);
</script>
</block>