<extend name="index" />
<block name="menu">
<style type="text/css">
	p select{
		width:70px;
		padding-left:5px;
	}
</style>
<br>
<h1 class="tt_h1">位置：课表管理>编辑课表信息</h1>
<div id="cond">
	<form method="post" id="form">
		班级：<select name="sclass" id="sclass"  style='width:75px;padding-left:5px;'>
			<foreach item='clist' key='k' name='clist'>
				<option value="{$clist.id}" <if condition="$clist.id eq $class_id">selected</if> >{$clist.name}</option>
			</foreach>
		</select>
		<input type="submit" id="submit" value="搜索" style="padding:1px;margin-left:10px;padding-top:0;padding-bottom:0;">
	</form>
</div>
<input type="hidden" id="cid" value='{$class_id}'>
<p style="text-align:left;padding-left:50px;margin-top:5px;color:rgba(255, 0, 0, 0.87);">双击可修改课表</p>
<br>
<table id="table" <if condition="$class_name eq ''">style="display:none;"</if> >
	<tr class="tb_tr_th">
		<th>{$class_name}教室</th>
		<th>星期一</th>
		<th>星期二</th>
		<th>星期三</th>
		<th>星期四</th>
		<th>星期五</th>
		<th>星期六</th>
		<th>星期日</th>
	</tr>
	<for start="1" end="9" name="i">
		<tr class="tb_tr_td">
			<td>第{$i}节</td>
			<for start="1" end="8" name="j">
			<td class="kebiao" week='{$j}' time='{$i}'>
				<foreach item="lists" key="k" name="klist">
					<if condition="$lists.week eq $j && $lists.time eq $i">
						{$lists.subject_text}/{$lists.teacher_text}
					</if>
				</foreach>
			</td>
			</for>
		</tr>
	</for>

</table>
<div class='edit1' style='position:absolute;left:0;top:0;right:0;bottom:-500px;z-index:999;background:#ccc;opacity:0.5;display:none;'></div>
<div class='edit1' style="position:absolute;z-index:9999;width:100%;height:300px;text-align:center;left:0;top:0;display:none;">
	<div style="width:300px;height:250px;display:inline-block;background:#fff;margin-top:220px;border-radius:5px;">
		<p class="title" style="text-align:left;padding:3px;border-radius:5px;border-bottom:1px solid #ccc;background:#eee;"></p>
		<p style="margin-top:30px;text-align:left;padding-left:30px;">课程：<select name="subject" id="subject"></select></p>
		<p style="margin-top:20px;text-align:left;padding-left:30px;">教师：<select name="teacher" id="teacher"></select></p>
		<p style="margin-top:100px;text-align:right;padding-right:10px;">
			<button id='yes' style="background:#ff8d00;width:50px;height:25px;border-radius:8px;"></button>
			<button id="no" style="width:50px;height:25px;border-radius:8px;">取消</button>
		</p>
	</div>
</div>
<script type="text/javascript">
	window.getSubject = function()
	{
		var url = 'index.php?m=Admin&c=Setting&a=getSubjectList';
		var data = {typ:'json'};
		var res = ajax(url,data);
		return res;
	}
	window.getTeacher = function()
	{
		var url = 'index.php?m=Admin&c=Setting&a=getTeacher';
		var data = {typ:'json'};
		var res = ajax(url,data);
		return res;
	}
	window.update = function(data)
	{
		var url = 'index.php?m=Admin&c=Setting&a=updateSyllabus';
		var data = data;
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			$(".edit1").hide();
			tips(res.content,1);
			setTimeout('$("#submit").click();',1500);
		}
		else
		{
			tips(res.content,2);
		}
	}
	$(".kebiao").dblclick(function()
	{
		var week = $(this).attr('week');
		var time = $(this).attr('time');
		var room = $("#cid").val();
		var data = {week:week,time:time,room:room};
		var _this = $(this);
		var con = $(this).html();
		if($.trim(con) == "")
		{
			var sub_res = getSubject();
			if(sub_res.status == 'success')
			{
				var sub_list = sub_res.content;
				var sub_str = String();
				$("#subject").html("");
				for(var i in sub_list)
				{
					sub_str += "<option value='"+sub_list[i].id+"''>"+sub_list[i].name+"</option>";
				}
				$("#subject").append(sub_str);
				$(".title").html("新增课表");
				$("#yes").html("新增");
			}
			else
			{
				tips(sub_res.content,2);
				return;
			}

			var teacher_res = getTeacher();
			if(teacher_res.status == 'success')
			{
				var teacher_list = teacher_res.content;
				var teacher_str = String();
				$("#teacher").html("");
				for(var i in teacher_list)
				{
					teacher_str += "<option value='"+teacher_list[i].id+"''>"+teacher_list[i].name+"</option>";
				}
				$("#teacher").append(teacher_str);
			}
			else
			{
				tips(teacher_res.content,2);
				return;
			}
			$(".edit1").show();
		}
		else
		{
			var sub = $.trim(con.split("/")[0]);
			var tea = $.trim(con.split("/")[1]);

			var sub_res = getSubject();
			if(sub_res.status == 'success')
			{
				var sub_list = sub_res.content;
				var sub_str = String();
				$("#subject").html("");
				for(var i in sub_list)
				{
					if(sub_list[i].name == sub)
					{
						sub_str += "<option value='"+sub_list[i].id+"'' selected>"+sub_list[i].name+"</option>";
					}
					else
					{
						sub_str += "<option value='"+sub_list[i].id+"''>"+sub_list[i].name+"</option>";
					}
				}
				$("#subject").append(sub_str);
				$(".title").html("编辑课表");
				$("#yes").html("修改");
			}
			else
			{
				tips(sub_res.content,2);
				return;
			}

			var teacher_res = getTeacher();
			if(teacher_res.status == 'success')
			{
				var teacher_list = teacher_res.content;
				var teacher_str = String();
				$("#teacher").html("");
				for(var i in teacher_list)
				{
					if(teacher_list[i].name == tea)
					{
						teacher_str += "<option value='"+teacher_list[i].id+"' selected>"+teacher_list[i].name+"</option>";
					}
					else
					{
						teacher_str += "<option value='"+teacher_list[i].id+"'>"+teacher_list[i].name+"</option>";
					}
					
				}
				$("#teacher").append(teacher_str);
			}
			else
			{
				tips(teacher_res.content,2);
				return;
			}
			$(".edit1").show();
		}
		window.aaa = function()
		{
			data.subject = $("#subject").val();
			data.teacher = $("#teacher").val();
			data.typ = 'json';
			update(data);
		}
	})
	$("#no").click(function()
	{
		$(".edit1").hide();
	})
	$("#yes").click(function()
	{
		aaa();
	})
	
</script>
</block>
