<extend name="index" />
<block name="menu">
<style type="text/css">
	table{
		border-collapse:collapse;
		margin-left:30px;
		margin-top:20px;
	}
	td{
		min-width:140px;
		height:45px;
		font-size:18px;
		border:1px solid black;
		line-height:45px;
		text-align:center;
	}
	th{
		border:1px solid black;
		height:46px;
	}
	#cond{
		padding-left:50px;
		background:#ccc;
		width:100%;
		text-align:left;
		height:35px;
		line-height:35px;
	}
	th{
		min-width:140px;
	}
	.p{
		font-size:17px;
		margin-top:20px;
		color:#3dff00;
	}
	.close{
		float:right;
		width:19px;
	}
</style>
<span id="add_manage">
<br>
<h1 class="tt_h1">新增请假信息</h1>
<p class="p">开始时间：<input class="sang_Calender" type="text" name="stime" value="" placeholder="请选择" readonly="" style="width:130px;"></p>
<p class="p">结束时间：<input class="sang_Calender" type="text" name="etime" value="" placeholder="请选择" readonly="" style="width:130px;"></p>
<p class="p" style="vertical-align:top;"><textarea name="" id="reason" cols="30" rows="10" placeHolder="请输入请假原因"></textarea> </p>
<br>
<p>
	<button class="confirm-btn">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="cancel-btn">取消</button>
</p>
<!-- <if condition="$Think.cookie.leader eq 1">
	<div style="position:fixed;border:1px solid #ccc;right:0;top:200px;width:210px;height:140px;color:#0070ff;">
		<p style="text-align:left;padding-left:5px;">提示：<button class="close">X</button></p><br>
		1.请假5天以内由主任审批。<br><br>
		2.请假5天以上由校长审批。
	</div>
<else />
	<div style="position:fixed;border:1px solid #ccc;right:0;top:200px;width:210px;height:170px;color:#0070ff;">
		<p style="text-align:left;padding-left:5px;">提示：<button class="close">X</button></p><br>
		1.请假1天以内由组长审批。<br><br>
		2.请假5天以为由主任审批。<br><br>
		3.请假5天以上同校长审批。
	</div>
</if> -->

<script type="text/javascript" src="__PUBLIC__/js/datetime.js"></script>
<script type="text/javascript">
	$(".confirm-btn").click(function()
	{
		var stime = $("input[name='stime']").val();
		if($.trim(stime) == '')
		{
			tips('开始时间不能为空！',2);
			return;
		}
		var etime = $("input[name='etime']").val();
		if($.trim(etime) == '')
		{
			tips('结束时间不能为空！',2);
			return;
		}
		var reason = $("#reason").val();
		if($.trim(reason) == '')
		{
			tips('请假原因不能为空！',2);
			return;
		}
		if(stime > etime)
		{
			tips("开始时间不能大于结束时间！");
			return;
		}
		var url = "index.php?m=Home&c=Leave&a=addMyselfLeave";
		var data = {stime:stime,etime:etime,reason:reason,typ:'json'};
		var res = ajax(url,data);
		if(res.status == 'success')
		{
			tips(res.content,1);
			setTimeout("window.location.href='index.php?m=Home&c=Leave&a=index&id=64.66'",500);
		}
		else
		{
			tips(res.content,2);
		}
	})


	$(".cancel-btn").click(function()
	{
		window.location.href = 'index.php?m=Home&c=Leave&a=index&id=64.66';
	})

	$(".close").click(function()
	{
		$(this).parent().parent().remove();
	})

</script>
</block>